channels:
  - defaults
  - anaconda
  - bioconda
  - Esri
  - r
  - quantum-engineering
show_channel_urls: true
allow_other_channels: false
auto_update_conda: false
changeps1: false
create_default_packages:
  - pip
  - numpy
  - scipy
  - ipython
verify_threads: 2
execute_threads: 2
repodata_threads: 4
ssl_verify: true
