# unbind old configurations
unbind-key -a

# remap prefix from 'C-b' to 'C-SPC'
unbind C-b
set-option -g prefix M-i
bind-key M-i send-prefix

# reload tmux config with C-i r
bind r source-file ~/.tmux.conf

# allow for mouse scrolling, pane, and window interactions
set -g mouse on

# easy pane switching in line with vim/spacemacs nav. using M = Meta (on Mac alt-key)
bind-key -n M-h select-pane -L
bind-key -n M-j select-pane -D
bind-key -n M-k select-pane -U
bind-key -n M-l select-pane -R

# easy window and tab creation
bind-key -n M-t new-window
bind-key -n M-w kill-window
bind-key -n M-Tab choose-tree -Zw
bind-key -n M-| split-window -h
bind-key -n M-- split-window -v

# normal bindings for with C-i
bind | split-window -h
bind - split-window -v
bind l choose-tree Zw
bind N next-window
bind w kill-window

# create sessions if they do not exist
new-session -n $HOST

# pervent tmux from renaming windows
set-option -g allow-rename off

# increase history retained in tmux
set -g history-limit 5000

# start numbering with 1 and renumber when closed
set -g base-index 1
setw -g pane-base-index 1
set -g renumber-windows on

# Silence pesky inturruptions
set -g visual-activity off
set -g visual-bell off
set -g visual-silence off
setw -g monitor-activity off
set -g bell-action none
