<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.sirbubbls.tensorboard</string>
	<key>connections</key>
	<dict>
		<key>126CDA1B-DDBF-4280-9BF1-53AEB56642A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED9403CE-0358-485E-896B-FF2A66D00C6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C4741C2-A6A5-44EC-AE5C-2AB6CB7982E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42CEB0C5-2447-428E-BB3F-BBD93C72D428</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42CEB0C5-2447-428E-BB3F-BBD93C72D428</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25E6E813-B2AC-40C8-94DE-0A92DBF9D965</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D3D0991-409A-4B9E-87E5-BCFD25BE2B4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24922B65-8C04-418A-BF9F-900E52F53EC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>950B8A6E-F7D0-49A0-9492-71BF6DB0F0B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C4741C2-A6A5-44EC-AE5C-2AB6CB7982E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC61610E-CDCE-42C8-8A1E-25F7598BF41F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25E6E813-B2AC-40C8-94DE-0A92DBF9D965</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED9403CE-0358-485E-896B-FF2A66D00C6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D3D0991-409A-4B9E-87E5-BCFD25BE2B4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Lucas Sas</string>
	<key>description</key>
	<string>A Faster Way to Start/Open/Stop Tensorboard in Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tensorboard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tensorboard</string>
				<key>subtext</key>
				<string>Open Tensorboard Web Interface</string>
				<key>text</key>
				<string>Open Tensorboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DC61610E-CDCE-42C8-8A1E-25F7598BF41F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://localhost:{var:port}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>25E6E813-B2AC-40C8-94DE-0A92DBF9D965</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>bash;
(exec tensorboard --logdir {query} --port {var:port} --reload_interval {var:reload}&amp;&gt; /dev/null &amp;);
exec echo "Tensorboard Server Started";</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>1C4741C2-A6A5-44EC-AE5C-2AB6CB7982E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Tensorboard Server</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>950B8A6E-F7D0-49A0-9492-71BF6DB0F0B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>{var:browser_delay}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>42CEB0C5-2447-428E-BB3F-BBD93C72D428</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Tensorboard Session Closed (:{var:port})</string>
				<key>title</key>
				<string>Tensorboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>24922B65-8C04-418A-BF9F-900E52F53EC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>port=$(ps -ef | grep tensor | awk '{print $2}')
kill -9 $port</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ED9403CE-0358-485E-896B-FF2A66D00C6E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tensorboard</string>
				<key>subtext</key>
				<string>Kill Tensorboard Process</string>
				<key>text</key>
				<string>Close Tensorboard Session</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>126CDA1B-DDBF-4280-9BF1-53AEB56642A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:popup}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>true</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>7D3D0991-409A-4B9E-87E5-BCFD25BE2B4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Environment Variables:
- browser_delay: delay between 'tensorboard start' and opening the browser window
- popup: {true, false} show popups or not
- port: target port for tensorboard server
- reload: tensorboard reload intervall (in seconds)</string>
	<key>uidata</key>
	<dict>
		<key>126CDA1B-DDBF-4280-9BF1-53AEB56642A1</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>1C4741C2-A6A5-44EC-AE5C-2AB6CB7982E1</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>24922B65-8C04-418A-BF9F-900E52F53EC7</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>25E6E813-B2AC-40C8-94DE-0A92DBF9D965</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>42CEB0C5-2447-428E-BB3F-BBD93C72D428</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>7D3D0991-409A-4B9E-87E5-BCFD25BE2B4E</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>950B8A6E-F7D0-49A0-9492-71BF6DB0F0B4</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>DC61610E-CDCE-42C8-8A1E-25F7598BF41F</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>ED9403CE-0358-485E-896B-FF2A66D00C6E</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>browser_delay</key>
		<string>3</string>
		<key>popup</key>
		<string>false</string>
		<key>port</key>
		<string>6006</string>
		<key>reload</key>
		<string>30</string>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
